.sub-fold-header {
    height: 32px;
    padding: 8px 16px;
}

.config-item-pre {
    text-align: left;
    width: 72px;
    flex-shrink: 0;
}

.select {
    flex: 1;
}

.config-item-suf {
    gap: 8px;
}

.inp-prefix {
    color: #474A54;
    margin-right: 8px;
}