html, body {
    background-color: #1B1B21;
    overflow: hidden;
}

img {
    height: initial;
}

input:focus {
    outline: none;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}